shipkart-mern/node_modules
shipkart-mern/.env

blog-cloud/client/node_modules
blog-cloud/client/build
blog-cloud/comments/node_modules
blog-cloud/event-bus/node_modules
blog-cloud/moderation/node_modules
blog-cloud/posts/node_modules
blog-cloud/query/node_modules


ticketing/auth/node_modules
ticketing/client/node_modules

bug-tracker/node_modules

/node_modules

bug-tracker/.pnp
bug-tracker/.pnp.js

# testing
bug-tracker/coverage

# next.js
bug-tracker/.next/
bug-tracker/out/

# production
bug-tracker/build

# misc
bug-tracker/.DS_Store
bug-tracker/*.pem

# debug
bug-tracker/npm-debug.log*
bug-tracker/yarn-debug.log*
bug-tracker/yarn-error.log*

# local env files
bug-tracker/.env.local
bug-tracker/.env.development.local
bug-tracker/.env.test.local
bug-tracker/.env.production.local

# vercel
bug-tracker/.vercel
