shipkart-mern/node_modules
shipkart-mern/.env

blog-cloud/client/node_modules
blog-cloud/client/build
blog-cloud/comments/node_modules
blog-cloud/event-bus/node_modules
blog-cloud/moderation/node_modules
blog-cloud/posts/node_modules
blog-cloud/query/node_modules


ticketing/auth/node_modules

/node_modules